<div class="container-flex">
  <div class="header-container">
    <div class="header-icons">
      <%= image_tag "reports/header-arrow.png" %>
    </div>

    <div class="">
      <%= image_tag "reports/header-homie.png" %>
    </div>

    <div class="header-icons">
      <%= image_tag "reports/header-user.png" %>
    </div>  
  </div>
</div>

<%= stylesheet_link_tag 'reports', media: 'all', 'data-turbolinks-track': 'reload' %>