<div class="container-flex">
  <div class="header-container">
    <div class="header-icons-arrow">
      <%= image_tag "reports/header-arrow.png" %>
    </div>

    <div class="header-icons-homie">
      <%= image_tag "reports/header-homie-movil.png" %>
    </div>

    <div class="header-icons-user">
      <%= image_tag "reports/header-user.png" %>
    </div>  
  </div>
</div>

<%= stylesheet_link_tag 'reports', media: 'all', 'data-turbolinks-track': 'reload' %>